@import url('reset.css');
@import url('tipografia.css');

/* CSS MENU */
@import url('menu.css');
/* SOBRE */
@import url('sobre.css');
/* SKILLS E HOBBIES*/
@import url('skills-hobbies.css');
/* FORMAÇÃO */
@import url('formacao.css');
/* EXPERIÊNCIA PROFISSIONAL */
@import url('experiencia.css');

:root {
    --cor-body: #F5F5F5;
    --branco: #FFFFFF;
    --cinza-escuro: #464646;
    --azul-claro: #EAF2FD;
    --azul-escuro: #2A7AE4;
    --azul-btn-demo: #5595E9;
    --azul-btn-repos: #D4E4FA;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-body);
    overflow-x: hidden;

}
