@import url('reset.css');
@import url('tipografia.css');

/* CSS MENU */
@import url('menu.css');
/* SOBRE */
@import url('sobre.css');


body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-body);
}