/* Títulos */
.tipo_t1,
.tipo_t2 {
    font-weight: 700;
    color: var(--cinza-escuro);
}

.tipo_t1 {
    font-size: 3.25rem;
}

.tipo_t2 {
    font-size: 2rem;
}

/* textos */
.tipo_txt1,
.tipo_txtbold a {
    font-size: 1rem;
    color: var(--cinza-escuro);
}

.tipo_txtbold {
    font-weight: 700;
    color: var(--cinza-escuro);
}

.tipo_txt1 {
    font-weight: 500;
}

.tipo_txt2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cinza-escuro);
}

/* ícones */

.icon {
    color: var(--azul-escuro);
    font-size: 2rem !important;
}

@media (max-width: 768px) {

    .tipo_t1,
    .tipo_t2 {
        font-size: 1.3rem;
    }

    .tipo_txt2,
    .tipo_txt1,
    .tipo_txtbold {
        font-size: 1rem;
    }

}

@media (max-width: 360px) {

    .tipo_txt2,
    .tipo_txt1,
    .tipo_txtbold {
        font-size: 0.875rem;
    }
}