:root {
    --cor-body: #F5F5F5;
    --branco: #FFFFFF;
    --cinza-escuro: #464646;
    --azul-claro: #EAF2FD;
    --azul-escuro: #2A7AE4;
}

.tipo_t1,
.tipo_t2 {
    font-weight: 700;
    color: var(--cinza-escuro);
}

.tipo_t1 {
    font-size: 3.25rem;
}

.tipo_t2 {
    font-size: 2rem;
}

.tipo_txt1,
.tipo_txtbold {
    font-size: 1rem;
    color: var(--cinza-escuro);
}

.tipo_txtbold {
    font-weight: 700;
}

.tipo_txt1 {
    font-weight: 500;
}

.tipo_txt2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cinza-escuro);
}

.icon {
    color: var(--azul-escuro);
    font-size: 2rem !important;
}