.formacao {
    display: flex;
    padding: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--azul-claro);

}

.formacao h2 {
    width: 100%;
    text-align: center;
}

.formacao__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formacao__card dt,
dd {
    margin-left: 0.62rem;
}

.formacao__card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    width: 23rem;
    height: 18rem;
    margin: 1rem;
}

.formacao__card-item img {
    width: 190px;
    height: 130px;

}

@media (max-width: 768px) {
    .formacao h2 {
        margin-bottom: 1.5rem;
    }

    .formacao__card {
        width: 33%;
    }

    .formacao__card-item {
        padding: 16px;
        width: 10rem;
        height: 5rem;

    }

    .formacao__card-item img {
        width: 100px;
        height: 100px;
    }

}

@media (max-width: 414px) {
    .formacao__card {
        width: 100%;
    }

}